* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5; }

.container {
  width: 1200px;
  margin: auto; }

span {
  color: #e7423c;
  font-weight: bold; }

footer {
  background-color: #e7423c; }

.whatsapp-icono {
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 40px; }
  .whatsapp-icono a {
    color: white;
    background-color: #1dd639;
    text-decoration: none;
    border-radius: 50%;
    padding: 15px 20px;
    transition: all 0.5s; }
    .whatsapp-icono a:hover {
      color: #1dd639;
      background-color: white; }

.link-facebook {
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  background-color: #e7423c; }

.link-instagram {
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  background-color: #e7423c; }

.header {
  background-color: #2a2c3b;
  padding: 20px;
  display: flex;
  flex-flow: column wrap; }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__content ul {
      display: flex;
      justify-content: space-around; }
      .header__content ul li {
        margin: 0 20px; }
        .header__content ul li a {
          text-decoration: none;
          font-weight: 600;
          color: #f3f4ee;
          font-size: 15px;
          transition: color 0.3s; }
          .header__content ul li a:hover {
            color: #e7423c; }
    .header__content-navbar-mobile {
      display: none; }
      .header__content-navbar-mobile:hover > ul {
        display: block; }
      .header__content-navbar-mobile i {
        font-size: 25px;
        color: white; }
      .header__content-navbar-mobile ul {
        display: none;
        position: absolute;
        right: 0;
        top: 100px;
        width: 100%;
        background-color: #2a2c3b; }
        .header__content-navbar-mobile ul li {
          padding: 25px 0;
          text-align: center; }
          .header__content-navbar-mobile ul li a {
            color: white;
            font-weight: bold; }
          .header__content-navbar-mobile ul li:nth-child(even) {
            background-color: #303344; }

.banner {
  display: flex;
  background-image: url(../assets/banner-inicio-1.jpg);
  background-repeat: no-repeat;
  height: 700px; }
  .banner__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .banner__content h1 {
      color: white;
      font-size: 60px;
      font-weight: 400;
      margin-bottom: 30px;
      line-height: 70px; }
    .banner__content h2 {
      color: white;
      font-size: 25px;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 30px;
      line-height: 30px; }
    .banner__content p {
      color: white;
      font-size: 16px;
      margin-bottom: 50px;
      letter-spacing: 1.5px;
      line-height: 25px; }

.btn-rrss, .btn-facebook, .btn-instagram {
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.5s; }
  .btn-rrss:hover, .btn-facebook:hover, .btn-instagram:hover {
    color: #e7423c;
    background-color: white; }

.btn-facebook {
  background-color: #e7423c; }

.btn-instagram {
  background-color: #e7423c; }

.btn-base, .btn-principal, .btn-whatsapp {
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  border-radius: 5px;
  padding: 15px 40px;
  transition: all 0.5s; }

.btn-principal {
  background-color: #e7423c;
  border: solid 2px #e7423c;
  margin-right: 20px; }
  .btn-principal:hover {
    background-color: #2a2c3b;
    border: solid 2px #2a2c3b; }

.btn-whatsapp {
  background-color: #1dd639;
  border: solid 2px #1dd639; }
  .btn-whatsapp:hover {
    color: #1dd639;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px #1dd639; }

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px; }
  .card .card-1 {
    margin: 30px;
    padding: 15px;
    text-align: center;
    color: #e7423c;
    border-radius: 10px;
    background-color: rgba(186, 186, 186, 0.3); }
  .card .card-2 {
    margin: 30px;
    padding: 15px;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: #1dd639; }

.servicios {
  margin-top: 80px; }
  .servicios__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px; }
    .servicios__content-img {
      width: 300px; }
    .servicios__content-title {
      background-image: linear-gradient(45deg, #2a2c3b, #2a3168);
      border-radius: 10px 0 10px;
      margin-top: 60px;
      padding: 20px;
      width: 400px; }
      .servicios__content-title p {
        font-size: 14px;
        letter-spacing: 8px;
        color: white;
        text-align: right;
        text-transform: uppercase; }
    .servicios__content article {
      margin: 10px;
      padding: 30px;
      text-align: center;
      transition: all 0.5s; }
      .servicios__content article:hover {
        transform: translateY(-15px);
        background-color: rgba(42, 44, 59, 0.1);
        border-radius: 10px 0 10px;
        padding: 30px;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.3); }
      .servicios__content article img {
        text-align: left;
        margin-bottom: 20px; }
      .servicios__content article h2 {
        color: #e7423c;
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px; }
      .servicios__content article p {
        font-size: 16px;
        text-align: center;
        line-height: 24px;
        margin-bottom: 40px; }
      .servicios__content article-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 60px; }

form {
  margin: 0 auto; }

.formulario {
  margin: 0 auto;
  padding: 20px;
  color: #e7423c; }

label {
  font-size: 18px;
  display: flex;
  margin-bottom: 10px; }

select {
  margin-bottom: 20px;
  border: 0;
  background-color: #2a2c3b;
  color: white;
  padding: 10px;
  width: 130px;
  height: 40px; }

input {
  border: solid 2px #2a2c3b;
  border-radius: 10px;
  background-color: #e2e2e2;
  height: 40px;
  width: 400px;
  padding: 10px;
  margin-bottom: 30px; }

textarea {
  border: solid 2px #2a2c3b;
  display: flex;
  height: 200px;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #e2e2e2; }

button {
  width: 150px;
  height: 50px;
  font-size: 15px;
  background-color: #e7423c;
  color: white;
  border: 0;
  border-radius: 10px; }
  button:hover {
    background-color: #2a2c3b; }

.footer {
  margin-top: 20px;
  padding: 20px 0 20px; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__content ul {
      display: flex; }
    .footer__content li {
      margin: 0 15px 0 15px; }
    .footer__content a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      color: #f3f4ee;
      font-size: 14px;
      transition: color 0.3s; }
      .footer__content a:hover {
        color: #2a2c3b; }
    .footer__content i {
      font-size: 20px; }

@media (max-width: 1200px) {
  .container {
    width: 768px; }
  .servicios__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .footer__content {
    display: flex;
    flex-flow: column wrap; }
    .footer__content ul {
      margin-bottom: 20px; } }

@media (max-width: 768px) {
  .container {
    width: 490px; }
  .header__content-navbar {
    display: none; }
  .header__content-rrss {
    display: none; }
  .header__content-navbar-mobile {
    display: block; }
  .card {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px; }
  .banner__content {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: flex-end; }
  .servicios__content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }
  .footer__content {
    display: flex;
    flex-flow: column wrap; }
    .footer__content ul {
      margin-bottom: 10px; } }

@media (max-width: 490px) {
  .container {
    width: 320px; }
  .banner {
    padding: 20px; }
    .banner__content {
      display: flex;
      flex-flow: column wrap; }
      .banner__content h1 {
        font-size: 40px;
        line-height: 50px; }
      .banner__content h2 {
        font-size: 25px; }
      .banner__content p {
        font-size: 14px; }
  .servicios__content {
    display: flex;
    flex-flow: column wrap; }
    .servicios__content article h2 {
      font-size: 20px; }
    .servicios__content article p {
      font-size: 14px; }
    .servicios__content-title {
      width: 260px; }
    .servicios__content img {
      width: 240px; }
    .servicios__content-iconos img {
      width: 60px; }
  .formulario input {
    width: 260px; }
  .formulario textarea {
    width: 260px; }
  .footer__content-navbar {
    display: none; } }

@media (max-width: 340px) {
  .container {
    width: 300px; } }

@media (max-width: 300px) {
  .container {
    width: 260px; } }

@media (max-width: 260px) {
  .container {
    width: 240px; } }
