.banner {
    display: flex;
    background-image: url(../assets/banner-inicio-1.jpg);
    background-repeat: no-repeat;
    height: 700px;

        &__content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

            h1 {
                color: white;
                font-size: 60px;
                font-weight: bold;
                margin-bottom: 30px;
                line-height: 70px;
            }

            h2 {
                color: white;
                font-size: 25px;
                font-weight: bolder;
                font-style: italic;
                margin-bottom: 50px;
                line-height: 30px;
            }

            p {
                color: white;
                font-size: 16px;
                margin-bottom: 50px;
                letter-spacing: 1.5px;
                line-height: 25px;
            }
    }
}

.btn-base {
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    padding: 15px 40px;
    transition: all 0.5s;
}

.btn-principal {
    @extend .btn-base;
    background-color: $ColorSecundario;
    border: solid 2px $ColorSecundario;

        &:hover {
            background-color: $ColorPrimario;
            border: solid 2px $ColorPrimario;
         }
}

.btn-whatsapp {
    @extend.btn-base;
    background-color: $ColorWhatsapp;
    border: solid 2px $ColorWhatsapp;

        &:hover {
            color: $ColorWhatsapp;
            background-color: $FondoAlpha;
            border: solid 2px $ColorWhatsapp;
        }
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;

    @mixin card-base ($ColorTitulo, $fondo){
        margin: 30px;
        padding: 15px;
        text-align: center;
        color: $ColorTitulo;
        border-radius: 10px;
        background-color: $fondo;
    }
    
    .card-1 {
        @include card-base ($ColorSecundario, $FondoClaro);
    }
    
    .card-2 {
        @include card-base (white, $ColorWhatsapp);
    }
}

.servicios {
            margin-top: 80px;

            &__content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin-top: 40px;

                &-img {
                        width: 300px;
                      }

                &-title {
                    background-image: linear-gradient(45deg, #2a2c3b, #2a3168);
                    border-radius: 10px 0 10px;
                    margin-top: 60px;
                    padding: 20px;
                    width: 400px;

                        p {
                            font-size: 14px;
                            letter-spacing: 8px;
                            color: white;
                            text-align: right;
                            text-transform: uppercase;
                            }
        
                        }

                article {
                    margin: 10px;
                    padding: 30px;
                    text-align: center;
                    transition: all 0.5s;
            
                &:hover {
                    transform: translateY(-15px);
                    background-color: rgba(42, 44, 59, 0.1);
                    border-radius: 10px 0 10px;
                    padding: 30px;
                    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.3);
                    }

                img {
                    text-align: left;   
                    margin-bottom: 20px;
                }   

                h1 {
                    color: $ColorSecundario;
                    text-align: center;
                    font-size: 30px;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 14px;
                    text-align: center;
                    line-height: 24px;
                    margin-bottom: 40px;
                }

                &-img {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    margin-top: 60px;

                }
        }
    }
}


   

