@media (max-width: 1200px) {
    .container {
        width: 1000px;
    }

    .header__content {
        display: flex;
        flex-flow: column wrap;

        ul {
            margin-bottom: 20px;
        }
    }

    .servicios__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__content {
        display: flex;
        flex-flow: column wrap;

        ul {
            margin-bottom: 20px;
        }
    }

}

@media (max-width: 768px) {
    .container {
        width: 700px;
    }

    .header__content {
        display: flex;
        flex-flow: column wrap;

        ul {
            margin-bottom: 10px;
        }
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 40px;
    }

    .banner__content {
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: flex-end;
    }

    .servicios__content {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .footer__content {
        display: flex;
        flex-flow: column wrap;

        ul {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 480px) {
    .container {
        width: 440px;
    }

    .banner {
        padding: 20px;

        &__content {
            display: flex;
            flex-flow: column wrap;
        }
    }
    
    .servicios__content {
        display: flex;
        flex-flow: column wrap;

        &-title {
            width: 300px;
        }
    }

    .formulario {

        input {
            width: 300px;
        }

        textarea {
            width: 300px;
        }
    }
}