@media (max-width: 1200px) {
    .container {
        width: 768px;
    }

    .servicios__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__content {
        display: flex;
        flex-flow: column wrap;

        ul {
            margin-bottom: 20px;
        }
    }

}

@media (max-width: 768px) {
    .container {
        width: 490px;
    }

    .header__content {
        
        &-navbar {
            display: none;
        }

        &-rrss {
            display: none;
        }

        &-navbar-mobile {
            display: block;
        }

    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 40px;
    }

    .banner__content {
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: flex-end;
    }

    .servicios__content {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .footer__content {
        display: flex;
        flex-flow: column wrap;

        ul {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 490px) {
    .container {
        width: 320px;
    }

    .banner {
        padding: 20px;

        &__content {
            display: flex;
            flex-flow: column wrap;

            h1 {
                font-size: 40px;
                line-height: 50px;
            }

            h2 {
                font-size: 25px;
            }

            p {
                font-size: 14px;
            }
        }
    }
    
    .servicios__content {
        display: flex;
        flex-flow: column wrap;

        article h2 {
            font-size: 20px;
        }

        article p {
            font-size: 14px;
        }

        &-title {
            width: 260px;
        }

        img {
            width: 240px;
        }

        &-iconos img {
            width: 60px;
        }
    }

    .formulario {

        input {
            width: 260px;
        }

        textarea {
            width: 260px;
        }
    }

    .footer__content-navbar {
        display: none;
    }
}

@media (max-width: 340px) {
    .container {
        width: 300px;
    }
}

@media (max-width: 300px) {
    .container {
        width: 260px;
    }
}

@media (max-width: 260px) {
    .container {
        width: 240px;
    }
}